name: Continuous deployment (Storybook)

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy-storybook:
    name: Build and deploy Storybook to Github Pages
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Use nodejs
        uses: actions/setup-node@v3
        with:
          node-version: '16.x'

      - name: Install dependencies
        run: npm ci

      - name: Build storybook
        run: npm run build:storybook

      - name: Deploy to Github Pages
        uses: JamesIves/github-pages-deploy-action@v4.3.3
        with:
          branch: gh-pages
          folder: storybook-static
          clean: true
